body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: auto;
  gap: 2rem;
}
.box {
  background-color: lightblue;
  height: 4rem;
  width: 10rem;
  text-align: center;
  padding: auto;
}
.hidden {
  display: none;
}
